#dashboard_right_now li > span.det-env-type:before {
	content: "\f319";
}

#wp-admin-bar-det_env_type > div > span.ab-icon:before {
	content: "\f319";
	top: 3px;
}

#wpadminbar ul li#wp-admin-bar-det_env_type {
	background-color: #00a0d2;
}

#wpadminbar ul li#wp-admin-bar-det_env_type.det-production {
	background-color: #dc3232;
}

#wpadminbar ul li#wp-admin-bar-det_env_type.det-staging {
	background-color: #ffba00;
}

#wpadminbar ul li#wp-admin-bar-det_env_type.det-development {
	background-color: #46b450;
}